# ignore everything in the immediate directory (non-rescursively)
/*

# except for .gitignore, README.md, etc.
!.gitignore
!README.md
!ssh
!test.txt
!zomg.wtf

# allow this folder *and everything* in it (recursively)
!folder1
# now only allow the folder but nothing in it
folder1/*
#except this one file
!folder1/file1
# and this folder *and* everything in it
!folder1/coughigs/

!folder2/
folder2/*
!folder2/file2
